@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: $text-color;
}

.bghome{
    background-image: url(/public/imgpublic/pexels-stefano-gatti.jpg);
    width: auto;
    height: calc(100vh - 63px);
    background-size: cover;
}

.colortitle{
    color: rgb(217, 255, 0);
    font-size: 150px;
}